stages:
  - iac
  - infrastructure
  - test
  - build
  - scan
  - push
  - deploy

iac_scan:
  stage: iac
  image: checkmarx/kics:latest
  tags:
    - inara
  script:
    - kics scan -p ./ansible/ansible -o ./kics/reports