stages:
  - SAST

sonar_qube:
  stage: SAST
  image: sonarsource/sonar-scanner-cli:4
  tags:
    - sonarqube
  script:
    - sonar-scanner \
      -Dsonar.host.url=$SONAR_HOST_URL \
      -Dsonar.login=$SONAR_TOKEN