stages:
  - SAST

sonar_qube:
  stage: SAST
  image: sonarsource/sonar-scanner-cli:4
  tags:
    - sonarqube
  script:
    - sonar-scanner -D sonar.host.url="$SONAR_HOST_URL" -D sonar.login="$SONAR_LOGIN" -D sonar.projectKey="$SONAR_PROJECT_KEY"