services:
  ansible-controller:
    build: ./ansible-controller
    container_name: ansible-controller
    tty: true
    volumes:
      - ./ansible:/ansible
      - ~/.ssh/id_rsa:/root/.ssh/id_rsa:ro
      - ~/.ssh/id_rsa.pub:/root/.ssh/id_rsa.pub:ro
    networks:
      - ansible_net

  target1:
    image: ubuntu:22.04
    container_name: target1
    tty: true
    ports:
      - "8080:8080"
    volumes:
      - ~/.ssh/id_rsa.pub:/root/.ssh/authorized_keys:ro
    networks:
      - ansible_net
    command:
      - bash -c "apt-get update && apt -get install -y openssh-server python3 && service ssh start && tail -f /dev/null"

networks:
  ansible_net:
    driver: bridge
